## 판다스(pandas)란?
* 2차원 데이터(엑셀과 같은)를 효과적으로 처리하고, 분석할 수 있는 파이썬 라이브러리의 일종
* 원래의 파이썬(generic Python)에는 포함되어 있지 않으므로, 이를 사용하기 위해서는 설치 후 import가 필요

In [1]:
# import '라이브러리 명' as '별명(간단한)'

import pandas as pd

In [2]:
#판다스를 이용해 분석 대상의 일부 파일을 가져와 보자

df = pd.read_csv('./seoul_2021.csv', encoding='utf-8')

In [3]:
df.head(10)

,지점,일시,평균기온(°C),최저기온(°C),최저기온 시각(hhmi),최고기온(°C),최고기온 시각(hhmi),강수 계속시간(hr),10분 최다 강수량(mm),10분 최다강수량 시각(hhmi),...,평균 30cm 지중온도(°C),0.5m 지중온도(°C),1.0m 지중온도(°C),1.5m 지중온도(°C),3.0m 지중온도(°C),5.0m 지중온도(°C),합계 대형증발량(mm),합계 소형증발량(mm),9-9강수(mm),안개 계속시간(hr)
0,108,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,NaN,...,1.4,2.9,6.8,9.7,15.9,17.5,1.1,1.6,NaN,NaN
1,108,2021-01-02,-5.0,-8.4,805,-1.4,1346,NaN,NaN,NaN,...,1.2,2.6,6.6,9.6,15.8,17.5,1.4,2.0,NaN,NaN
2,108,2021-01-03,-5.6,-9.1,536,-2.0,1238,NaN,NaN,NaN,...,1.0,2.5,6.5,9.5,15.7,17.4,1.0,1.5,NaN,NaN
3,108,2021-01-04,-3.5,-8.4,656,0.3,1535,2.33,NaN,NaN,...,0.8,2.3,6.3,9.4,15.6,17.4,0.9,1.3,0.0,NaN
4,108,2021-01-05,-5.5,-9.9,2356,-2.1,1,5.42,NaN,NaN,...,0.8,2.2,6.2,9.3,15.5,17.3,1.2,1.7,NaN,NaN
5,108,2021-01-06,-7.4,-12.0,702,-1.9,1547,5.33,NaN,NaN,...,0.6,2.0,6.0,9.2,15.5,17.3,1.2,1.8,2.3,NaN
6,108,2021-01-07,-14.5,-16.5,802,-8.4,1,NaN,NaN,NaN,...,0.5,1.9,5.9,9.1,15.4,17.3,0.6,0.9,NaN,NaN
7,108,2021-01-08,-14.9,-18.6,812,-10.7,1450,NaN,NaN,NaN,...,0.1,1.7,5.8,8.9,15.3,17.2,0.8,1.2,NaN,NaN
8,108,2021-01-09,-12.2,-16.6,614,-7.5,1602,NaN,NaN,NaN,...,-0.3,1.5,5.6,8.8,15.2,17.2,0.9,1.3,NaN,NaN
9,108,2021-01-10,-7.7,-12.8,538,-2.7,1406,NaN,NaN,NaN,...,-0.6,1.4,5.5,8.7,15.1,17.1,0.9,1.2,NaN,NaN

In [4]:
df.columns

Index(['지점', '일시', '평균기온(°C)', '최저기온(°C)', '최저기온 시각(hhmi)', '최고기온(°C)',
       '최고기온 시각(hhmi)', '강수 계속시간(hr)', '10분 최다 강수량(mm)', '10분 최다강수량 시각(hhmi)',
       '1시간 최다강수량(mm)', '1시간 최다 강수량 시각(hhmi)', '일강수량(mm)', '최대 순간 풍속(m/s)',
       '최대 순간 풍속 풍향(16방위)', '최대 순간풍속 시각(hhmi)', '최대 풍속(m/s)', '최대 풍속 풍향(16방위)',
       '최대 풍속 시각(hhmi)', '평균 풍속(m/s)', '풍정합(100m)', '평균 이슬점온도(°C)',
       '최소 상대습도(%)', '최소 상대습도 시각(hhmi)', '평균 상대습도(%)', '평균 증기압(hPa)',
       '평균 현지기압(hPa)', '최고 해면기압(hPa)', '최고 해면기압 시각(hhmi)', '최저 해면기압(hPa)',
       '최저 해면기압 시각(hhmi)', '평균 해면기압(hPa)', '가조시간(hr)', '합계 일조시간(hr)',
       '1시간 최다일사 시각(hhmi)', '1시간 최다일사량(MJ/m2)', '합계 일사량(MJ/m2)', '일 최심신적설(cm)',
       '일 최심신적설 시각(hhmi)', '일 최심적설(cm)', '일 최심적설 시각(hhmi)', '합계 3시간 신적설(cm)',
       '평균 전운량(1/10)', '평균 중하층운량(1/10)', '평균 지면온도(°C)', '최저 초상온도(°C)',
       '평균 5cm 지중온도(°C)', '평균 10cm 지중온도(°C)', '평균 20cm 지중온도(°C)',
       '평균 30cm 지중온도(°C)', '0.5m 지중온도(°C)', '1.0m 지중온도(°C)', '1.5m 지중온도(°C)',
       '3.0m 지중온도(°C)', '5.0m 지중온도(°C)', '합계 대형증발량(mm)', '합계 소형증발량(mm)',
       '9-9강수(mm)', '안개 계속시간(hr)'],
      dtype='object')

In [5]:
# excel 파일의 경우도 유사하게 읽는데, excel을 읽기 위해서는 추가 설치가 필요하다

!pip install openpyxl

Requirement already satisfied: openpyxl in /Users/kangjiwon/anaconda3/lib/python3.11/site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in /Users/kangjiwon/anaconda3/lib/python3.11/site-packages (from openpyxl) (1.1.0)

In [6]:
excel_df = pd.read_excel('./example.xlsx', sheet_name='Orders')
excel_df.head()

,Order No,Order Date,Customer Name,Address,City,State,Customer Type,Account Manager,Order Priority,Product Name,...,Cost Price,Retail Price,Profit Margin,Order Quantity,Sub Total,Discount %,Discount $,Order Total,Shipping Cost,Total
0,5071-1,2013-05-05,Christopher Schild,"4A Lyons St,Strathfield",Sydney,NSW,Corporate,Tina Carlton,Medium,"Laser Neon Mac Format Diskettes, 10/Pack",...,1.87,2.2253,0.3553,41,91.2373,0.06,5.474238,85.763062,2.83,88.593062
1,5071-2,2013-05-05,Christopher Schild,"4A Lyons St,Strathfield",Sydney,NSW,Corporate,Tina Carlton,Medium,Steady Liquid Accent Highlighters,...,3.47,6.6800,3.2100,2,13.3600,0.01,0.133600,13.226400,1.50,14.726400
2,5145-1,2013-06-29,Cyma Kinney,"Sydney Fish Market, Bank Street, Sydney",Sydney,NSW,Small Business,Phoebe Gour,Low,Alto Memo Cubes,...,3.32,5.1800,1.8600,1,5.1800,0.02,0.103600,5.076400,2.04,7.116400
3,5145-2,2013-06-29,Cyma Kinney,"Sydney Fish Market, Bank Street, Sydney",Sydney,NSW,Small Business,Phoebe Gour,Low,Artisan Hi-Liter Smear-Safe Highlighters,...,2.98,5.8400,2.8600,4,23.3600,0.09,2.102400,21.257600,0.83,22.087600
4,5160-1,2013-07-05,Berenike Kampe,"180 High Street,Windsor",Melbourne,VIC,Corporate,Connor Betts,Not Specified,1726 Digital Answering Machine,...,8.82,20.9900,12.1700,41,860.5900,0.02,17.211800,843.378200,4.81,848.188200

## 판다스에서 가장 중요한 모듈은 Series와 DataFrame

In [7]:
# Series

# 씨리즈는 어떠한 형식의 자료도 담을 수 있는 1차원의 배열과 같은 자료 구조

obj = pd.Series([1,3,5,7])
obj

0    1
1    3
2    5
3    7
dtype: int64

In [8]:
obj.values

array([1, 3, 5, 7])

In [9]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
# values(값)이건, 인덱스 건 항상 리스트 구조의 형태로 입력한다.

students = ['강지원', '김성윤', '황혜선', '이욱']
series = pd.Series(students)        #씨리즈로 변환된 것을 계속 사용하려면 변수에 저장하고 활용하여야 한다.

In [11]:
series.values

array(['강지원', '김성윤', '황혜선', '이욱'], dtype=object)

In [12]:
# 인덱스를 변경해 보자

#처음부터 이렇게 생성해도 되고

id = [2101, 2102,2104,2103]

series_1=pd.Series(data=students, index=id)
series_1

2101    강지원
2102    김성윤
2104    황혜선
2103     이욱
dtype: object

In [13]:
# 먼저 씨리즈를 만든 후 index를 별도로 할당할 수도 있다

id_1 = [2101, 2102,2104,2103]

series1=pd.Series(data=students)
series1.index = id_1
series1

2101    강지원
2102    김성윤
2104    황혜선
2103     이욱
dtype: object

In [14]:
# dictionary 형식으로 만들 수도 있다.
# 이때 각각의 key는 인덱스가 된다.

student_dict = {2101:'강지원',2102:'김성윤',2104:'황혜선',2103:'이욱'}

pd.Series(student_dict)

2101    강지원
2102    김성윤
2104    황혜선
2103     이욱
dtype: object

## 그럼 데이터프레임이란?
### 위의 Series구조가 켜켜이 쌓여 있는 것

In [15]:
students = ['강지원', '김성윤', '황혜선', '이욱']
id = [2101, 2102,2104,2103]
major = ['Theology', 'Law','Consumer Science','Business']

df = pd.DataFrame({'student': students, 'major':major}, index=id)
df

     student             major
2101     강지원          Theology
2102     김성윤               Law
2104     황혜선  Consumer Science
2103      이욱          Business

In [16]:
df.index

Int64Index([2101, 2102, 2104, 2103], dtype='int64')

In [17]:
df.values

array([['강지원', 'Theology'],
       ['김성윤', 'Law'],
       ['황혜선', 'Consumer Science'],
       ['이욱', 'Business']], dtype=object)

In [18]:
df.columns

Index(['student', 'major'], dtype='object')