In [1]:
import pandas as pd

df = pd.read_csv('./weather_tmp.csv', encoding = 'utf-8')
df.head()

,지점,일시,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
0,108,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4
1,108,2021-01-02,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
2,108,2021-01-03,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9
3,108,2021-01-04,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
4,108,2021-01-05,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2

## 인덱스와 칼럼의 변경 (칼럼을 인덱스로, 인덱스를 칼럼으로)

In [2]:
# 만약 우리가 현재 0부터 시작하는 rangeIndex대신에
# '일시' 칼럼을 인덱스로 하기를 원할 수도 있다. 그럴 때...
df1 = df.copy()
df1.set_index('일시', inplace = True)

In [5]:
df1.head()

,지점,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
일시,,,,,,,,,,,,
2021-01-01,108,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4
2021-01-02,108,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
2021-01-03,108,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9
2021-01-04,108,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
2021-01-05,108,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2

In [4]:
df.head()

,지점,일시,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
0,108,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4
1,108,2021-01-02,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
2,108,2021-01-03,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9
3,108,2021-01-04,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
4,108,2021-01-05,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2

In [22]:
df.set_index('일시')

,지점,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
일시,,,,,,,,,,,,
2021-01-01,108,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4
2021-01-02,108,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
2021-01-03,108,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9
2021-01-04,108,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
2021-01-05,108,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,108,-7.6,-12.9,123,-3.9,1634,NaN,0.0,1.7,1020.0,3.8,-4.7
2021-12-28,108,-4.1,-8.5,712,-0.9,1600,NaN,NaN,2.2,1016.9,1.7,-3.3
2021-12-29,108,0.4,-3.8,154,5.9,1518,NaN,0.2,2.6,1009.0,1.8,-0.7
2021-12-30,108,-3.9,-6.8,714,0.2,1531,NaN,0.0,3.3,1014.5,7.3,-2.7
2021-12-31,108,-6.7,-8.8,745,-3.9,1510,NaN,NaN,3.5,1020.6,9.0,-4.5

In [6]:
# 만약 인자값에 drop = False 를 넣게 된다면, 원래의 '일시'가 인덱스로 전환됨과 함께 칼럼에도 남아 있게 된다.
# 기본값은 drop = True이다.

df.set_index('일시', drop = False)

,지점,일시,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
일시,,,,,,,,,,,,,
2021-01-01,108,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4
2021-01-02,108,2021-01-02,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
2021-01-03,108,2021-01-03,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9
2021-01-04,108,2021-01-04,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
2021-01-05,108,2021-01-05,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,108,2021-12-27,-7.6,-12.9,123,-3.9,1634,NaN,0.0,1.7,1020.0,3.8,-4.7
2021-12-28,108,2021-12-28,-4.1,-8.5,712,-0.9,1600,NaN,NaN,2.2,1016.9,1.7,-3.3
2021-12-29,108,2021-12-29,0.4,-3.8,154,5.9,1518,NaN,0.2,2.6,1009.0,1.8,-0.7
2021-12-30,108,2021-12-30,-3.9,-6.8,714,0.2,1531,NaN,0.0,3.3,1014.5,7.3,-2.7
2021-12-31,108,2021-12-31,-6.7,-8.8,745,-3.9,1510,NaN,NaN,3.5,1020.6,9.0,-4.5

In [7]:
#여기에 인자로 inplace = True를 넣게 되면 원본 df가 변하게 된다

df.set_index('일시', inplace= True)
df.head()

,지점,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
일시,,,,,,,,,,,,
2021-01-01,108,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4
2021-01-02,108,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
2021-01-03,108,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9
2021-01-04,108,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
2021-01-05,108,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2

In [8]:
# 다시 원래의 0부터 시작하는 인덱스로 돌려 놓아 보자.
# 현재는 그 값들이 따로 저장되어 있지 않으나, 원래의 기본 인덱스이므로 간단히...

df.reset_index(inplace=True)  #inplace = True로 원래의 값으로 완전히 돌려 놓았다
df.head()

,일시,지점,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
0,2021-01-01,108,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4
1,2021-01-02,108,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
2,2021-01-03,108,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9
3,2021-01-04,108,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
4,2021-01-05,108,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2

In [9]:
df1 = df.set_index('일시')
df1.head()

,지점,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
일시,,,,,,,,,,,,
2021-01-01,108,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4
2021-01-02,108,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
2021-01-03,108,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9
2021-01-04,108,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
2021-01-05,108,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2

## 인덱스와 칼럼의 정렬

In [10]:
# 여기서 인덱스인 일시를 역순으로 돌려보자. 12월 31일이 처음에 오게...

df1.sort_index(ascending=False)

,지점,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
일시,,,,,,,,,,,,
2021-12-31,108,-6.7,-8.8,745,-3.9,1510,NaN,NaN,3.5,1020.6,9.0,-4.5
2021-12-30,108,-3.9,-6.8,714,0.2,1531,NaN,0.0,3.3,1014.5,7.3,-2.7
2021-12-29,108,0.4,-3.8,154,5.9,1518,NaN,0.2,2.6,1009.0,1.8,-0.7
2021-12-28,108,-4.1,-8.5,712,-0.9,1600,NaN,NaN,2.2,1016.9,1.7,-3.3
2021-12-27,108,-7.6,-12.9,123,-3.9,1634,NaN,0.0,1.7,1020.0,3.8,-4.7
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-05,108,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2
2021-01-04,108,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
2021-01-03,108,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9
2021-01-02,108,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
2021-01-01,108,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4

In [11]:
#만약 칼럼명도 가나다 순으로 바꾸기를 원한다면..
# 칼럼명도 넓은 의미에서는 인덱스와 속한다고 할 수 있으므로,,,,
# column축을 의미하는 axis = 1 을 명시하면 된다

df1.sort_index(ascending=True, axis = 1)

,1시간최다강수량,일강수량,지점,최고기온,최고기온시각,최저기온,최저기온시각,평균기압,평균기온,평균지면온도,평균풍속,합계일조시간
일시,,,,,,,,,,,,
2021-01-01,NaN,NaN,108,1.6,1447,-9.8,511,1014.9,-4.2,-3.4,2.0,6.5
2021-01-02,NaN,NaN,108,-1.4,1346,-8.4,805,1018.5,-5.0,-3.9,2.6,9.0
2021-01-03,NaN,NaN,108,-2.0,1238,-9.1,536,1023.0,-5.6,-4.9,2.0,5.5
2021-01-04,NaN,0.0,108,0.3,1535,-8.4,656,1020.3,-3.5,-3.3,1.7,4.6
2021-01-05,NaN,0.0,108,-2.1,1,-9.9,2356,1019.2,-5.5,-3.2,2.9,8.6
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-27,NaN,0.0,108,-3.9,1634,-12.9,123,1020.0,-7.6,-4.7,1.7,3.8
2021-12-28,NaN,NaN,108,-0.9,1600,-8.5,712,1016.9,-4.1,-3.3,2.2,1.7
2021-12-29,NaN,0.2,108,5.9,1518,-3.8,154,1009.0,0.4,-0.7,2.6,1.8
2021-12-30,NaN,0.0,108,0.2,1531,-6.8,714,1014.5,-3.9,-2.7,3.3,7.3
2021-12-31,NaN,NaN,108,-3.9,1510,-8.8,745,1020.6,-6.7,-4.5,3.5,9.0

## 값에 따른 정렬

In [12]:
# 만약 '최고기온'을 기준으로 가장 더웠던 날 5일의 날씨를 보려면 어떻게 할까
# '최고기온' 칼럼을 값을 기준으로 다음과 같이 정렬하면 된다

temp = df1.sort_values(by ='최고기온', ascending = False)
temp.head()

,지점,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
일시,,,,,,,,,,,,
2021-07-24,108,31.7,26.9,548,36.5,1508,NaN,NaN,1.7,998.2,12.3,32.6
2021-07-25,108,31.5,27.2,542,35.9,1547,NaN,NaN,2.0,996.5,13.0,34.2
2021-07-22,108,31.2,26.5,621,35.9,1615,NaN,NaN,2.0,1000.9,11.4,31.4
2021-07-23,108,31.2,27.2,541,35.8,1604,NaN,NaN,1.8,999.3,12.4,32.2
2021-07-27,108,31.1,27.8,601,35.7,1520,NaN,NaN,2.1,992.9,7.3,33.3

In [14]:
# 최고기온이 가장 낮은 5일은

temp.tail(5)

,지점,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
일시,,,,,,,,,,,,
2021-12-25,108,-11.7,-14.4,2258,-7.3,1,NaN,NaN,3.9,1021.5,9.1,-4.4
2021-12-26,108,-12.1,-15.5,817,-7.3,1526,NaN,NaN,3.1,1023.4,9.1,-5.8
2021-01-09,108,-12.2,-16.6,614,-7.5,1602,NaN,NaN,2.6,1014.0,9.0,-8.4
2021-01-07,108,-14.5,-16.5,802,-8.4,1,NaN,NaN,4.1,1015.3,NaN,-6.1
2021-01-08,108,-14.9,-18.6,812,-10.7,1450,NaN,NaN,3.3,1014.1,9.2,-9.3

## 열과 행의 삭제

In [15]:
#만약 '합계일조시간' 칼럼 전체를 삭제하기를 원하면
# 칼럼이라는 것을 명시하는 axis =1을 넣어

temp.drop('합계일조시간', axis=1)

,지점,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,평균지면온도
일시,,,,,,,,,,,
2021-07-24,108,31.7,26.9,548,36.5,1508,NaN,NaN,1.7,998.2,32.6
2021-07-25,108,31.5,27.2,542,35.9,1547,NaN,NaN,2.0,996.5,34.2
2021-07-22,108,31.2,26.5,621,35.9,1615,NaN,NaN,2.0,1000.9,31.4
2021-07-23,108,31.2,27.2,541,35.8,1604,NaN,NaN,1.8,999.3,32.2
2021-07-27,108,31.1,27.8,601,35.7,1520,NaN,NaN,2.1,992.9,33.3
...,...,...,...,...,...,...,...,...,...,...,...
2021-12-25,108,-11.7,-14.4,2258,-7.3,1,NaN,NaN,3.9,1021.5,-4.4
2021-12-26,108,-12.1,-15.5,817,-7.3,1526,NaN,NaN,3.1,1023.4,-5.8
2021-01-09,108,-12.2,-16.6,614,-7.5,1602,NaN,NaN,2.6,1014.0,-8.4
2021-01-07,108,-14.5,-16.5,802,-8.4,1,NaN,NaN,4.1,1015.3,-6.1
2021-01-08,108,-14.9,-18.6,812,-10.7,1450,NaN,NaN,3.3,1014.1,-9.3

In [16]:
# 만약 여러개 칼럼을 동시에 삭제하기를 원하면 []안에 같이 명시하면 된다.
# 주의할 것은 inplace = True를 명시하지 않는 한, 원본 데이터프레임은 변하지 않는다는 것

temp.drop(['최고기온','최저기온'], axis = 1)

,지점,평균기온,최저기온시각,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
일시,,,,,,,,,,
2021-07-24,108,31.7,548,1508,NaN,NaN,1.7,998.2,12.3,32.6
2021-07-25,108,31.5,542,1547,NaN,NaN,2.0,996.5,13.0,34.2
2021-07-22,108,31.2,621,1615,NaN,NaN,2.0,1000.9,11.4,31.4
2021-07-23,108,31.2,541,1604,NaN,NaN,1.8,999.3,12.4,32.2
2021-07-27,108,31.1,601,1520,NaN,NaN,2.1,992.9,7.3,33.3
...,...,...,...,...,...,...,...,...,...,...
2021-12-25,108,-11.7,2258,1,NaN,NaN,3.9,1021.5,9.1,-4.4
2021-12-26,108,-12.1,817,1526,NaN,NaN,3.1,1023.4,9.1,-5.8
2021-01-09,108,-12.2,614,1602,NaN,NaN,2.6,1014.0,9.0,-8.4
2021-01-07,108,-14.5,802,1,NaN,NaN,4.1,1015.3,NaN,-6.1
2021-01-08,108,-14.9,812,1450,NaN,NaN,3.3,1014.1,9.2,-9.3

In [17]:
# 만약 행(row)를 삭제하기를 원한다면, 똑같다.

df.head()

,일시,지점,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
0,2021-01-01,108,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4
1,2021-01-02,108,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
2,2021-01-03,108,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9
3,2021-01-04,108,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
4,2021-01-05,108,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2

In [18]:
#삭제할 행의 인덱스를 넣어주어서...
# 이때 axis = 0 을 넣어도 되고 안 넣어도 된다. default가 axis = 0 이므로.

df.drop([0,2,4])

,일시,지점,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
1,2021-01-02,108,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
3,2021-01-04,108,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
5,2021-01-06,108,-7.4,-12.0,702,-1.9,1547,NaN,2.3,2.4,1012.8,9.1,-4.0
6,2021-01-07,108,-14.5,-16.5,802,-8.4,1,NaN,NaN,4.1,1015.3,NaN,-6.1
7,2021-01-08,108,-14.9,-18.6,812,-10.7,1450,NaN,NaN,3.3,1014.1,9.2,-9.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,2021-12-27,108,-7.6,-12.9,123,-3.9,1634,NaN,0.0,1.7,1020.0,3.8,-4.7
361,2021-12-28,108,-4.1,-8.5,712,-0.9,1600,NaN,NaN,2.2,1016.9,1.7,-3.3
362,2021-12-29,108,0.4,-3.8,154,5.9,1518,NaN,0.2,2.6,1009.0,1.8,-0.7
363,2021-12-30,108,-3.9,-6.8,714,0.2,1531,NaN,0.0,3.3,1014.5,7.3,-2.7
364,2021-12-31,108,-6.7,-8.8,745,-3.9,1510,NaN,NaN,3.5,1020.6,9.0,-4.5

In [19]:
# 다만 drop의 경우, 슬라이싱에 의한 지정이 안 되므로, 개별적으로 하나하나 값을 
# 리스트 형식으로 적어주어야 하므로 번거로운 면이 없지 않다. 
# 이 점에서 나중에 배우게 될 조건 지정 추출 등이 중요하게 된다.

In [20]:
#기타 하나의 칼럼만을 삭제할 경우 아래와 같은 del '삭제할 칼럼'으로 하기도 하고..

del df['지점']

df.head()

,일시,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
0,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4
1,2021-01-02,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
2,2021-01-03,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9
3,2021-01-04,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
4,2021-01-05,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2

In [21]:
# 삭제하는 동시에 삭제되는 칼럼을 반환하는  df.pop('칼럼명')을 쓰는 경우도 있지만..
# 자주 사용되지는 않는다.

df.pop('일시')

0      2021-01-01
1      2021-01-02
2      2021-01-03
3      2021-01-04
4      2021-01-05
          ...
360    2021-12-27
361    2021-12-28
362    2021-12-29
363    2021-12-30
364    2021-12-31
Name: 일시, Length: 365, dtype: object