In [1]:
import pandas as pd

df = pd.read_csv('./weather_tmp.csv', encoding = 'utf-8')
df.head()

,지점,일시,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
0,108,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4
1,108,2021-01-02,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9
2,108,2021-01-03,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9
3,108,2021-01-04,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3
4,108,2021-01-05,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2

In [2]:
df.iloc[200:207]

,지점,일시,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도
200,108,2021-07-20,27.9,23.6,532,31.8,1159,0.0,0.0,1.5,1004.4,3.4,28.9
201,108,2021-07-21,30.5,25.3,556,35.3,1654,NaN,NaN,1.7,1002.9,11.3,30.5
202,108,2021-07-22,31.2,26.5,621,35.9,1615,NaN,NaN,2.0,1000.9,11.4,31.4
203,108,2021-07-23,31.2,27.2,541,35.8,1604,NaN,NaN,1.8,999.3,12.4,32.2
204,108,2021-07-24,31.7,26.9,548,36.5,1508,NaN,NaN,1.7,998.2,12.3,32.6
205,108,2021-07-25,31.5,27.2,542,35.9,1547,NaN,NaN,2.0,996.5,13.0,34.2
206,108,2021-07-26,31.2,27.4,608,35.4,1521,NaN,NaN,2.4,994.6,13.2,35.3

## map 함수를 통한 변경

In [2]:
# 위의 데이터프레임의 '최고기온시각'행을 살펴 보자
# 앞의 두글자는 시간, 뒤의 두 글자는 분...
# 양자의 단위가 다르므로, 그대로는 산술 연산이 불가능하다
# 시간을 기준으로 기준을 통합해 보자

In [3]:
def converter(x):
    x = str(x)
    if len(x) ==3:        #세자리의 경우
        y = int(x[0])+ int(x[1:])*1/60
        
    elif len(x) == 4:     #네자리의 경우
        y = int(x[0:2])+ int(x[2:])*1/60
    else:                 #한자리나 두자리의 경우
        y = int(x)*1/60
    return y

In [5]:
# 특정 열에 적용해 보자
# map 함수에 적용할 때는 converter() 식으로 실행하는 것이 아니라...
# 단순히 함수의 이름만 적는다.

df['최고기온시각'].map(converter)

0      14.783333
1      13.766667
2      12.633333
3      15.583333
4       0.016667
         ...
360    16.566667
361    16.000000
362    15.300000
363    15.516667
364    15.166667
Name: 최고기온시각, Length: 365, dtype: float64

In [4]:
# 그 결과를 새로운 칼럼으로 할당

df['변환_최고기온시각'] = df['최고기온시각'].map(converter)

In [5]:
df.head()

,지점,일시,평균기온,최저기온,최저기온시각,최고기온,최고기온시각,1시간최다강수량,일강수량,평균풍속,평균기압,합계일조시간,평균지면온도,변환_최고기온시각
0,108,2021-01-01,-4.2,-9.8,511,1.6,1447,NaN,NaN,2.0,1014.9,6.5,-3.4,14.783333
1,108,2021-01-02,-5.0,-8.4,805,-1.4,1346,NaN,NaN,2.6,1018.5,9.0,-3.9,13.766667
2,108,2021-01-03,-5.6,-9.1,536,-2.0,1238,NaN,NaN,2.0,1023.0,5.5,-4.9,12.633333
3,108,2021-01-04,-3.5,-8.4,656,0.3,1535,NaN,0.0,1.7,1020.3,4.6,-3.3,15.583333
4,108,2021-01-05,-5.5,-9.9,2356,-2.1,1,NaN,0.0,2.9,1019.2,8.6,-3.2,0.016667

In [6]:
#이제는 평균을 구하는 것이 가능해 진다.

temp_mean = df['변환_최고기온시각'].mean()

print(temp_mean)

14.025022831050228

In [7]:
#그 결과를  몇 시 몇 분 형태로 다시 바꿔보자

tmp = str(temp_mean)

int_part = int(tmp[:2])

float_part = int(float(tmp[2:])*60)

print(f'{int_part}시 {float_part}분')

14시 1분

## apply 함수를 통한 변경

In [8]:
temp_condition = df[['평균기온', '최저기온','최고기온']]
temp_condition.head()

   평균기온  최저기온  최고기온
0  -4.2  -9.8   1.6
1  -5.0  -8.4  -1.4
2  -5.6  -9.1  -2.0
3  -3.5  -8.4   0.3
4  -5.5  -9.9  -2.1

In [9]:
## apply 함수도 map 함수와 동일하게 개별 칼럼에 대해 적용할 수 있다

In [10]:
# 25도 이상 : 고온, 25 ~10 :쾌적, 10미만 : 저온
# 범주값으로 만드는 함수

def converter_2(x):
    if x > 25:
        return '고온'
    elif x > 10 :
        return '쾌적'
    else:
        return '저온'
    
temp_condition['최고기온'].apply(converter_2)

0      저온
1      저온
2      저온
3      저온
4      저온
       ..
360    저온
361    저온
362    저온
363    저온
364    저온
Name: 최고기온, Length: 365, dtype: object

In [12]:
# 하지만 여러 칼럼에 걸쳐 함수를 적용할 수 있다는 장점이 있다.
# 아래 보기에서 '최고기온' 칼럼과 '최저기온' 칼럼에 걸쳐 함수를 적용한다

def temp_change (df):
    if df['최고기온'] - df['최저기온'] > 15:
        return '일교차심함'
    else:
        return '일교차안심함'

In [13]:
# 첫 인수도 들어가는 것은 데이터프레임!!

temp_condition.apply(temp_change, axis=1)

0      일교차안심함
1      일교차안심함
2      일교차안심함
3      일교차안심함
4      일교차안심함
        ...
360    일교차안심함
361    일교차안심함
362    일교차안심함
363    일교차안심함
364    일교차안심함
Length: 365, dtype: object

## lambda 함수와 apply 함수의 결합

In [14]:
#아래는 '평균기온', '최저기온','최고기온'의 개별 칼럼에 적용된다.
# 세로 방향(row) 연산이므로, 기본값 axis = 0 이 default이다

temp_condition.apply(lambda x: x.max() - x.min())

평균기온    46.6
최저기온    46.4
최고기온    47.2
dtype: float64

In [15]:
# apply 함수는 나중에 배울 groupby 함수에서도 자주 결합되어 쓰인다

In [16]:
#filter 함수 : 특정값을 다음과 같이 걸러내는데 쓰인다 (조건 추출)
# 따라서 output은 input의 수보다 작거나 같다

list(filter(lambda x : x % 2 ==0, range(10)))

[0, 2, 4, 6, 8]

In [17]:
# 참고 : 파이썬 map 함수(pands map 함수와 다른)와 filter 함수
# 대부분의 조건 추출은 전 회차에 배운 df[조건]...의 형식으로 찾아낼 수 있다.

In [19]:
# map 함수

def map_func(x):
    return x**2

a = [1,2,3,4,5]

map(map_func, a)

In [21]:
for i in map(map_func, a):
    print(i)

1
4
9
16
25

In [22]:
list(map(map_func, a))

[1, 4, 9, 16, 25]

In [24]:
# filter 함수

def filter_func(x):
    if x % 2 == 1:
        return x
    else:
        pass

list(filter(filter_func, a))

[1, 3, 5]