## statements

In [1]:
# 조건문 : if
# 반복문 : for loop, while loop

### 조건문

In [2]:
a = float(input('정수를 하나 입력하세요.'))

if a < 10:
    print('1번 케이스')

elif a < 0:
    print("2번 케이스")
    
else:
    print('10보다 큰 수')

# indent

정수를 하나 입력하세요.4
1번 케이스

In [4]:
test = 20240626

today = int(input("오늘 날짜를 입력하세요"))

if test == today:
    print("공부해야죠")
else:
    print("오늘은 쉴게요.")

오늘 날짜를 입력하세요20240625
오늘은 쉴게요.

In [5]:
A = 300
B = 200

if A>B:
    print("Hi")
else:
    print("안녕하세요")

Hi

In [7]:
C = int(input("수를 하나 입력하세요 "))
D = int(input("또다시 입력하세요 "))

if C == D:
    print("두 수는 같습니다.")
elif C > D:
    print(f"{C}는 {D} 보다 큽니다.")

else:
    print(f"{C}는 {D}보다 작습니다.")
    print("{}는 {}보다 작습니다.".format(C, D))

수를 하나 입력하세요 4
또다시 입력하세요 5
4는 5보다 작습니다.
4는 5보다 작습니다.

In [8]:
A, B = 100, 200

print(B)

if A > B:
    pass
else:
    print("Error")

if A <= B:
    print("Error")

200
Error
Error

In [10]:
# example 2-1

num = float(input("값을 입력하세요. 반드시 숫자여야 합니다. "))

if num < 0:
    print("음수입니다.")
elif num == 0:
    print("0입니다.")
else:
    print("양수입니다.")

값을 입력하세요. 반드시 숫자여야 합니다. 10
양수입니다.

In [12]:
num = -10.5

num % 1

num = float(input("수를 하나입력하세요 "))

if (num % 1 < 1) and (num % 1 > 0):
    print('정수를 다시 입력하세요')

else:
    if num % 2 ==0:
        print("짝수입니다.")
    else:
        print("홀수입니다.")

수를 하나입력하세요 5
홀수입니다.

### 반복문

In [13]:
range(10)

range(0, 10)

In [14]:
type(range(10))

range

In [15]:
print(range(10))

range(0, 10)

In [16]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
for i in range(1,10):
    for k in range(1,10):
        print(i*k, end = ' ')

1 2 3 4 5 6 7 8 9 2 4 6 8 10 12 14 16 18 3 6 9 12 15 18 21 24 27 4 8 12 16 20 24 28 32 36 5 10 15 20 25 30 35 40 45 6 12 18 24 30 36 42 48 54 7 14 21 28 35 42 49 56 63 8 16 24 32 40 48 56 64 72 9 18 27 36 45 54 63 72 81

In [18]:
i = 0

while i < 5:
    print("Hi Python!!")
    i  += 1

print("Terminated")

Hi Python!!
Hi Python!!
Hi Python!!
Hi Python!!
Hi Python!!
Terminated

In [19]:
i = 1

while i > 0 :
    print("Hello Python")
    i += 1
    
    if i > 3 :
        print("강제 탈출")
        break

Hello Python
Hello Python
Hello Python
강제 탈출

In [20]:
i = 1

while True:
    print("Hello Python")
    i += 1
    
    if i > 3 :
        print("강제 탈출")
        break

Hello Python
Hello Python
Hello Python
강제 탈출

In [23]:
for k in "파이썬":
    print(k, end=" ")

파 이 썬

In [24]:
list1 = ('a','b','c','d')

for i in list1:
    print(f"{i}는 알파벳")

a는 알파벳
b는 알파벳
c는 알파벳
d는 알파벳

In [25]:
a =[(1,2),(3,4),(5,6)]

for i, v in [(1,2),(3,4),(5,6)]:
    print(i, v)

1 2
3 4
5 6

In [28]:
score =[100,23,30,76,34,50]
num = 0

for i in score:
    num = num +1
    if i > 60:
        print(f"{num}번 수강생은 합격")
    
    else:
        print(f"{num}번 수강생은 불합격")

1번 수강생은 합격
2번 수강생은 불합격
3번 수강생은 불합격
4번 수강생은 합격
5번 수강생은 불합격
6번 수강생은 불합격

In [30]:
for a, b in enumerate(score):
    if b > 60:
        print(f"{a+1}번 수강생은 합격")
    
    else:
        print(f"{a+1}번 수강생은 불합격")

1번 수강생은 합격
2번 수강생은 불합격
3번 수강생은 불합격
4번 수강생은 합격
5번 수강생은 불합격
6번 수강생은 불합격

In [32]:
list(enumerate(score))

[(0, 100), (1, 23), (2, 30), (3, 76), (4, 34), (5, 50)]

In [33]:
score =[100,23,30,76,34,50]
students = ['수지','박나래','장도연','아이유','김태희','헤르미온느']

zip(score, students)

In [34]:
list(zip(score, students))

[(100, '수지'),
 (23, '박나래'),
 (30, '장도연'),
 (76, '아이유'),
 (34, '김태희'),
 (50, '헤르미온느')]

In [35]:
for s, t in zip(score, students):
    print(f"{t}는/은 {s}점 입니다.")

수지는/은 100점 입니다.
박나래는/은 23점 입니다.
장도연는/은 30점 입니다.
아이유는/은 76점 입니다.
김태희는/은 34점 입니다.
헤르미온느는/은 50점 입니다.

In [37]:
for i in range(len(students)):
    print("{}는/은 {}점 입니다.".format(students[i], score[i]))

수지는/은 100점 입니다.
박나래는/은 23점 입니다.
장도연는/은 30점 입니다.
아이유는/은 76점 입니다.
김태희는/은 34점 입니다.
헤르미온느는/은 50점 입니다.

In [38]:
sum1 = 0

for i in range(1,10):
    sum1 = sum1 + i
print(sum1)

45

In [41]:
import random

num = random.randrange(1, 14)
    
print(num)

9

In [44]:
list1 = []

for i in range(3):
    list1.append(int(input("수를 하나 입력:")))

list1.sort()
list1[0]
print()
print(f"Smallest : {min(list1)}")

수를 하나 입력:4
수를 하나 입력:6
수를 하나 입력:10

Smallest : 4

In [46]:
total = 0

x = int(input('Enter a Number:'))

for i in range(1, x+1):
    if x % i == 0:
        total += i
        
print('위의 수까지의 짝수들의 합은:', total)

Enter a Number:5
위의 수까지의 짝수들의 합은: 6

In [49]:
avg = []
counting = 0
while True:
    a = int(input("숫자를 입력하시오. 0을치면 종료됨: "))
    if a == 0:
        print("end")
        break
    
    else:
        avg.append(a)
        counting += 1

print("입력한 숫자들의 평균: ", sum(avg)/counting)

숫자를 입력하시오. 0을치면 종료됨: 3
숫자를 입력하시오. 0을치면 종료됨: 10
숫자를 입력하시오. 0을치면 종료됨: 10
숫자를 입력하시오. 0을치면 종료됨: 0
end
입력한 숫자들의 평균:  7.666666666666667

In [51]:
## continue

for i in range(5):
    if i % 2 == 0:
        print("Even number ", i)
    else:
        continue

Even number  0
Even number  2
Even number  4

### Function

In [53]:
sum1 = 0
num = int(input("수를 입력하세요 "))

for i in range(1, num +1):
    sum1 += i
print(sum1)

수를 입력하세요 3
6

In [54]:
# input은 하나, 실수여야 함
# 결과는 합을 반환함

def my_sum(num):
    sum1 = 0
    for i in range(1, num +1):
        sum1 += i
    print(sum1)
    
    return sum1

In [55]:
my_sum(3)

6

6

In [56]:
my_sum(10)

55

55

In [57]:
def my_power(x, y):
    return x**y

In [58]:
my_power(2,3)

8

In [59]:
my_power(y=3, x=2)

8

In [60]:
def your_sum(x, y, z):
    return x + y + z

In [61]:
print(your_sum(1,2))

TypeError: your_sum() missing 1 required positional argument: 'z'

In [62]:
# *args. : arguments의 갯수를 불확정적으로 해 놓을 필요가 있는 경우
# 함수 내부에서 tuple로 처리된다


def your_sum(x, *num):
    if len(num)==4:
        return x*(num[0] + num[1]+ num[2]+ num[3])
    elif len(num)==3:
        return x*(num[0] + num[1]+ num[2])
    elif len(num) ==2:
        return x*(num[0] + num[1])
    else:
        return x*num[0]

In [63]:
your_sum(10,2,3)

50

In [64]:
print(your_sum(10,20))

200

In [65]:
# **kwargs : 갯수를 지정하지 않은 키워드 형태로 argument를 입력하는 경우
# 함수 내부에서 dictionary형태로 처리된다

def keywords(**kwargs):
    print(kwargs['data'] +" "+ kwargs['company'])

In [66]:
keywords(data='pandas', company='alpaco')

pandas alpaco

### lambda 함수

In [67]:
a = lambda x, y : x+y

In [68]:
a(1,2)

3

In [69]:
(lambda x, y : x+y)(10,20)

30

In [73]:
(lambda x : x**2)(5)

25

In [78]:
# list compprehension

a = [x for x in range(10)]
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [84]:
# iterator 민들기

gen = (i for i in range(1,10) if i%2==0)
print(type(gen))

<class 'generator'>

In [86]:
gen

In [85]:
for i in gen:
    print(i)

2
4
6
8

## 반환값과 인자의 관계에 따른 함수의 종류

In [87]:
#case 1 반환값도 있고, 인자도 있는 경우

def case_1(x):
    return x**2

In [88]:
result = case_1(3)

In [89]:
result

9

In [90]:
# case 2 반환값은 없고, 인자는 있다

def case_2(x):
    print(x**2)

In [91]:
result2 = case_2(3)

9

In [92]:
result2

In [93]:
print(result2)

None

In [94]:
#case 3 인자는 없지만 반환값은 있는 경우

def case_3():
    return 3**4

In [95]:
case_3()

81

In [96]:
#case 4 인자도 없고 반환값도 없는 함수

def case_4():
    print("hello world!!")

In [97]:
case_4()

hello world!!

In [98]:
#리스트를 반환하기

def case_5(x):
    return [i for i in range(10) if i%2 == 0]

In [99]:
case_5(10)

[0, 2, 4, 6, 8]

In [100]:
def cylinder_volume(r, h):
    return int((r**2)*3.14*h)

In [101]:
cylinder_volume(1000, 2000)

6280000000

In [102]:
def timetable(data):
    list1=[data, data*2, data*3]
    return [list1[0], list1[1], list1[2]]

In [103]:
timetable(10)

[10, 20, 30]

In [104]:
def function1():
    print("Hi")

In [105]:
greeting = function1()

Hi

In [106]:
print(greeting)

None

In [107]:
import pandas as pd

In [108]:
%cd ~

/Users/kangjiwon

In [109]:
%cd Documents

/Users/kangjiwon/Documents

In [110]:
%cd ..

/Users/kangjiwon

In [116]:
!pwd

/Users/kangjiwon

In [117]:
!ls

Applications
Codes
Creative Cloud Files  augustine0268@gmail.com 1F0F4E3B5D54B7BB0A495FAA@AdobeID
Desktop
Documents
Downloads
Google Drive
Library
Movies
Music
Pictures
Public
Sites
anaconda3
books
credential
google-cloud-sdk
iCloudArchive
opt
past_research
personal
tweepy