In [43]:
print("Hello World!")
print('hello')

Hello World!
hello

In [45]:
# 데이터구조
# sequential data  vs. non-sequential

## Numbers

In [99]:
print(0, "!") 
#"나는 학교에 간다" +
#"나는 학교에 간다"


list(range(10))
print(list(range(10,1)))

0 !
[]

In [19]:
btkim = '김병태'

In [21]:
print(btkim)

김병태

# 할당

### tensorflow 
### tensor

In [129]:
a  = 10000
print(a)

10000

In [107]:
type(a)

int

In [35]:
float_1 = 36.5

In [37]:
type(float_1)

float

In [121]:
a = 20
b = 36.5

In [131]:
a + b

10036.5

In [133]:
a = float(a)

In [135]:
print(a)

10000.0

In [137]:
print(int(b))

36

In [17]:
#float, int, str , bool

In [174]:
print(bool(10))
tf = 'TRUE'
ft = 'FALSE'

True
Object `substring` not found.

In [142]:
print(bool(0))

False

## String

In [20]:
btkim ='김"병"태'

In [21]:
print(btkim)

김"병"태

In [22]:
btkim_1 = "김'병'태"

In [23]:
print(btkim_1)

김'병'태

In [24]:
c = """
a
b
c

"""

In [25]:
print(c)

a
b
c

In [176]:
btkim ="김병태"

In [178]:
btkim[0]

'김'

In [180]:
btkim[2]

'태'

In [182]:
btkim[-1]

'태'

In [184]:
btkim[0:2]

'김병'

In [186]:
btkim[0:1]

'김'

In [32]:
# \t , \n (new line)

In [204]:
a = '\npytho\nn'

aa = 'gkwkgkwkgk\twddd'
aaa = 'skfjlqkjwkjd(new line)'

In [206]:
print(a)
print(aa)
print(aaa)

pytho
n
gkwkgkwkgk	wddd
skfjlqkjwkjd(new line)

In [192]:
school = 'skku'

In [194]:
btkim + school

'김병태skku'

In [196]:
btkim + " " + school

'김병태 skku'

In [210]:
btkim*3

'김병태김병태김병태'

In [252]:
a = "abcdefghijklmn"
print(a," ", a[0], a[:0], a[1], a[:1])

abcdefghijklmn   a  b a

In [216]:
list_1 = [1,3,5,7,9,11]
len(list_1)

6

In [254]:
str5 = "너의 삶은 짧지만, 계속 구하면 가치있는 것을 찾으리라"

In [256]:
str5[0]

'너'

In [258]:
str5[-1]

'라'

In [260]:
str5[-2]

'리'

In [262]:
str5[-3]

'으'

In [264]:
new_str = str5[0] + str5[10] + str5[15]

In [266]:
print(new_str)

너 하

In [268]:
new_str + "I go"

'너 하I go'

In [272]:
str5[0:10]

'너의 삶은 짧지만,'

In [296]:
print(str5+"\n"+str5[:10])

print(list(range(len(str5))))

너의 삶은 짧지만, 계속 구하면 가치있는 것을 찾으리라
너의 삶은 짧지만,
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [298]:
str5[0:1]

'너'

In [52]:
str5[0]

'너'

In [300]:
str5[20:-1]

'있는 것을 찾으리'

In [54]:
str5[20:]

'있는 것을 찾으리라'

In [55]:
str5[0:-1]

'너의 삶은 짧지만, 계속 구하면 가치있는 것을 찾으리'

In [56]:
str5

'너의 삶은 짧지만, 계속 구하면 가치있는 것을 찾으리라'

In [57]:
str5[:]

'너의 삶은 짧지만, 계속 구하면 가치있는 것을 찾으리라'

In [302]:
str5[::-1]

'라리으찾 을것 는있치가 면하구 속계 ,만지짧 은삶 의너'

In [59]:
str5[::-2]

'라으 것는치 하 계,지 삶의'

In [60]:
str5[::2]

'너 은짧만 속구면가있 을찾리'

In [61]:
str5[::1]

'너의 삶은 짧지만, 계속 구하면 가치있는 것을 찾으리라'

In [62]:
str5[:]

'너의 삶은 짧지만, 계속 구하면 가치있는 것을 찾으리라'

In [63]:
str5[::3]

'너삶짧,속하가는을으'

In [64]:
str5[::-1]

'라리으찾 을것 는있치가 면하구 속계 ,만지짧 은삶 의너'

In [65]:
str5[::-2]

'라으 것는치 하 계,지 삶의'

In [66]:
# 문자열 함수

In [67]:
str5.count('라')

1

In [68]:
# count()함수가 아님.

count(str5)

NameError: name 'count' is not defined

In [69]:
len(str5)

30

In [304]:
str5.count('은')

1

In [306]:
str8 = "Python Business Data Analysis"

In [310]:
str8.find('i')

10

In [314]:
str8.index('P')

0

In [114]:
# join 함수

In [74]:
new_name = " ".join('김병태')

In [75]:
print(new_name)

김 병 태

In [76]:
'           '.join("python")

'p           y           t           h           o           n'

In [77]:
# join 은 다른 데이터구조도 지원

In [78]:
str_list = ["python", 'R', "C++", "Java", "Perl"]

In [79]:
a = " ".join(str_list)

In [80]:
type(a)

str

In [81]:
#upper, lower

str8 = "Python Business Data"

In [82]:
str8.upper()

'PYTHON BUSINESS DATA'

In [83]:
str8.lower()

'python business data'

In [84]:
# strip 

str9 ="   python     "
print(str9)

   python

In [85]:
str9.lstrip()

'python     '

In [86]:
str9.rstrip()

'   python'

In [87]:
str9.strip()

'python'

In [88]:
print(str8)

Python Business Data

In [89]:
str8.replace(" ", " : ")

'Python : Business : Data'

In [90]:
#split

#split의 실행 결과는 list!!!!!!

In [91]:
type(str8)

str

In [92]:
a = str8.split(" ")

In [93]:
print(a)

['Python', 'Business', 'Data']

In [94]:
" ".join(a)

'Python Business Data'

In [95]:
str8.split()

['Python', 'Business', 'Data']

In [96]:
str8.split(' Business ')

['Python', 'Data']

In [97]:
# example 1-1

tmp = 890724

tmp = str(tmp)
print(tmp)

year = tmp[:2]
month = tmp[2:4]
day = tmp[4:]

890724

In [98]:
print(day)

24

In [103]:
# method vs. function

dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [104]:
# example 1-2

logistic = "20190603"

year = logistic[:4]
month = logistic[4:6]
day = logistic[6:]

year + "-" + month + "-" + day

'2019-06-03'

In [105]:
# example 1-3

num = "010-1234-5678"

num.replace('-','')

'01012345678'

In [106]:
tmp = num.split("-")
print(tmp)

['010', '1234', '5678']

In [107]:
''.join(tmp)

'01012345678'

In [108]:
# example 1-4

things = "DAILY ESSENTIAL"
things.lower()

'daily essential'

## List

In [109]:
list_1 = []
list_2 =list()

In [111]:
print(list_1)

[]

In [112]:
print(list_2)

[]

In [114]:
list_1 = [1,2,3, [1,2,3], "btkim", True, False]

In [115]:
print(list_1)

[1, 2, 3, [1, 2, 3], 'btkim', True, False]

In [116]:
list1=[100, 200, 300, 400, 500]

In [117]:
type(list1)

list

In [118]:
list1[0:2]

[100, 200]

In [119]:
tuple1 = (1,2,3,4,5)

tuple1[0]

1

In [120]:
len(tuple1)

5

In [121]:
sub = ['국어','영어','수학','과학']
sub

['국어', '영어', '수학', '과학']

In [122]:
sub.append('사회')

In [123]:
sub

['국어', '영어', '수학', '과학', '사회']

In [124]:
sub.insert(0, '한국사')

In [125]:
sub

['한국사', '국어', '영어', '수학', '과학', '사회']

In [126]:
sub.insert(8,'지리')

In [127]:
sub

['한국사', '국어', '영어', '수학', '과학', '사회', '지리']

In [128]:
sub.remove('지리')

In [129]:
sub

['한국사', '국어', '영어', '수학', '과학', '사회']

In [130]:
sub.remove('지리')

ValueError: list.remove(x): x not in list

In [131]:
sub

['한국사', '국어', '영어', '수학', '과학', '사회']

In [132]:
sub.append('지리')

sub.append('지리')

print(sub)

['한국사', '국어', '영어', '수학', '과학', '사회', '지리', '지리']

In [133]:
list1=sub.copy()

In [134]:
print(list1)

['한국사', '국어', '영어', '수학', '과학', '사회', '지리', '지리']

In [135]:
list_3=[]

for i in list1:
    
    if i !="지리":
        list_3.append(i)
    elif i =="지리":
        continue

In [136]:
print(list_3)

['한국사', '국어', '영어', '수학', '과학', '사회']

In [137]:
score = [10,20,30,40]
score

[10, 20, 30, 40]

In [138]:
score*3

[10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40]

In [139]:
sub =['국','영','수','과']

In [140]:
score + sub

[10, 20, 30, 40, '국', '영', '수', '과']

In [141]:
score

[10, 20, 30, 40]

In [142]:
sub

['국', '영', '수', '과']

In [143]:
score.extend(sub)

score

[10, 20, 30, 40, '국', '영', '수', '과']

In [144]:
score1 = [1,2,3,4]
sub1=['Eng','Math']

In [145]:
score1

[1, 2, 3, 4]

In [146]:
sub1

['Eng', 'Math']

In [147]:
score1+sub1

[1, 2, 3, 4, 'Eng', 'Math']

In [148]:
score1

[1, 2, 3, 4]

In [149]:
sub1

['Eng', 'Math']

In [150]:
score1.extend(sub1)

In [151]:
score1

[1, 2, 3, 4, 'Eng', 'Math']

In [152]:
score1.append(sub1)

In [153]:
score1

[1, 2, 3, 4, 'Eng', 'Math', ['Eng', 'Math']]

In [188]:
import copy

my_list =[[1,2],3,4,5]

#동일 객체의 두가지 다른 name

my_list1 = my_list

# 복사

my_list2 = copy.copy(my_list)

# 얕은 복사 vs. 깊은 복사는 복사된 객체 내부에 또다른 객체까지 변경될 수 있으냐의 문제
# import copy()
# .deepcopy()

In [189]:
my_list.remove(3)

In [190]:
print(my_list)

[[1, 2], 4, 5]

In [191]:
print(my_list1)

[[1, 2], 4, 5]

In [192]:
my_list1.append(100)
print(my_list)
print(my_list1)
print(id(my_list))
print(id(my_list1))

[[1, 2], 4, 5, 100]
[[1, 2], 4, 5, 100]
4461203264
4461203264

In [193]:
print(my_list2)
print(id(my_list2))

[[1, 2], 3, 4, 5]
4461630976

In [194]:
my_list.append(10)
print(my_list2)
print(my_list)

[[1, 2], 3, 4, 5]
[[1, 2], 4, 5, 100, 10]

In [195]:
# copy된 객체의 내부 객체의 주소값은 동일 -->같은 객체란 의미 --> 얕은 복사
# 깊은 복사의 경우 내부 객체의 주소값마저 달라짐.

print(id(my_list2[0]))
print(id(my_list[0]))

4461622016
4461622016

In [196]:
aa = [1,2,3,4]
bb = [10,20,30,40]

In [197]:
aa = aa + bb

print(aa)

[1, 2, 3, 4, 10, 20, 30, 40]

In [198]:
aa = [1,2,3,4]
bb = [10,20,30,40]

In [199]:
aa.extend(bb)

In [200]:
aa

[1, 2, 3, 4, 10, 20, 30, 40]

## Tuple

In [202]:
c =tuple()

In [203]:
c = (1,2,3,4,5)

In [204]:
print(c)

(1, 2, 3, 4, 5)

In [205]:
c[0]

1

In [206]:
c[:3]

(1, 2, 3)

In [274]:
t1 =(1,2,3,4,5)
print(type(t1))

<class 'tuple'>

In [275]:
type(t1)

tuple

In [278]:
t2=(1,2.2,'삼', 4,'five')

In [279]:
t2

(1, 2.2, '삼', 4, 'five')

In [280]:
# packing

pack1 = 1,2,3,4

In [281]:
print(pack1)

(1, 2, 3, 4)

In [282]:
type(pack1)

tuple

In [283]:
a, b ,c, d = pack1

In [284]:
print(a)

1

In [285]:
print(b)

2

In [286]:
a = pack1[0]
b = pack1[1]
c = pack1[2]

In [287]:
a = 10, 20, 30, 40, 50

In [288]:
print(a)

(10, 20, 30, 40, 50)

In [289]:
a[0]

10

In [290]:
a[3]

40

In [291]:
a[2:]

(30, 40, 50)

In [292]:
b = 1,2,3,4
c = 5,6,7,8

In [293]:
b

(1, 2, 3, 4)

In [294]:
c

(5, 6, 7, 8)

In [295]:
b+c

(1, 2, 3, 4, 5, 6, 7, 8)

In [296]:
b.extend(c)

AttributeError: 'tuple' object has no attribute 'extend'

In [297]:
c

(5, 6, 7, 8)

In [298]:
c*3

(5, 6, 7, 8, 5, 6, 7, 8, 5, 6, 7, 8)

## Set

In [2]:
set1 = {1,2,3,3,4,5}

In [3]:
set1

{1, 2, 3, 4, 5}

In [302]:
set1

{1, 2, 3, 4, 5}

In [304]:
A = {1,2,3}
B = {3,4,5}

In [305]:
A & B

{3}

In [306]:
A | B

{1, 2, 3, 4, 5}

In [307]:
A - B

{1, 2}

In [308]:
A ^ B

{1, 2, 4, 5}

In [309]:
A = {10, 20,30, 40,10}

In [310]:
A

{10, 20, 30, 40}

In [311]:
list_for_set = [1,3,5,7,7]

S = set(list_for_set)

S

{1, 3, 5, 7}

In [312]:
list(S)

[1, 3, 5, 7]

In [313]:
S.add(100)

In [314]:
S

{1, 3, 5, 7, 100}

In [315]:
list(S)

[1, 3, 100, 5, 7]

In [316]:
S.update([1000,2000,3000])

In [317]:
S

{1, 3, 5, 7, 100, 1000, 2000, 3000}

In [319]:
S.update((100000, 200000))

In [320]:
S

{1, 3, 5, 7, 100, 1000, 2000, 3000, 100000, 200000}

In [321]:
S.update({0.1,0.2})

In [322]:
S

{0.1, 0.2, 1, 3, 5, 7, 100, 1000, 2000, 3000, 100000, 200000}

In [323]:
S.remove(2000)

In [324]:
S

{0.1, 0.2, 1, 3, 5, 7, 100, 1000, 3000, 100000, 200000}

In [325]:
A & B

set()

In [328]:
A ={1,2,3}
B ={3,4,5}

A & B

{3}

In [329]:
A.intersection(B)

{3}

In [330]:
A

{1, 2, 3}

In [331]:
A | B == A.union(B)

True

## Dictinary

In [207]:
D = dict()
D1={}

type(D1)

dict

In [208]:
SET =set()
type(SET)

set

In [209]:
D = {"A": 100, "B":200, "C":300}

In [210]:
D["A"]

100

In [211]:
type(D.keys())

dict_keys

In [212]:
D.values()

dict_values([100, 200, 300])

In [213]:
D.keys()

dict_keys(['A', 'B', 'C'])

In [214]:
D.values()

dict_values([100, 200, 300])

In [215]:
D.items()

dict_items([('A', 100), ('B', 200), ('C', 300)])

In [216]:
type(D.items())

dict_items

In [237]:
key_list =[]
value_list=[]

for k, v in D.items():
    key_list.append(k)
    value_list.append(v)

In [238]:
key_list

['A', 'B', 'C']

In [239]:
value_list

[100, 200, 300]

In [240]:
dict1 = {'이름':'안기모', '소속':"빅데이터 그룹", '월수익': 2000}

In [241]:
type(dict1)

dict

In [242]:
dict1['이름']

'안기모'

In [243]:
dict1['월수익']

2000

In [244]:
dict1['학번']

KeyError: '학번'

In [245]:
print(dict1.get('학번'))

None

In [246]:
dict1.keys()

dict_keys(['이름', '소속', '월수익'])

In [247]:
dict1.values()

dict_values(['안기모', '빅데이터 그룹', 2000])

In [248]:
v1=[]

for i in dict1.values():
    v1.append(i)

In [249]:
v1[0]

'안기모'

In [250]:
#iterable 객체이지만, 바로 접근할 수는 없다

dict1.values()[0]

TypeError: 'dict_values' object is not subscriptable

In [253]:
list(dict1.values())[0]

'안기모'

In [254]:
v1[2]

2000

In [256]:
dict1

{'이름': '안기모', '소속': '빅데이터 그룹', '월수익': 2000}

In [257]:
dict1['이름'] = ['나천재','안기모']

In [258]:
dict1

{'이름': ['나천재', '안기모'], '소속': '빅데이터 그룹', '월수익': 2000}

In [259]:
dict1['소속'] = ['빅데이터 그룹', '경영혁신 그룹']
dict1['월수익'] = [1500, 200]

In [260]:
dict1

{'이름': ['나천재', '안기모'], '소속': ['빅데이터 그룹', '경영혁신 그룹'], '월수익': [1500, 200]}

In [261]:
name = ['인기모']
group =['빅데이터그룹']
income = [2000]

dict3 = {'이름': name, '소속':group, '월 수익':income}

In [262]:
dict3

{'이름': ['인기모'], '소속': ['빅데이터그룹'], '월 수익': [2000]}

In [263]:
name.append('나천재')

In [264]:
dict4 = {'이름': name, '소속':group, '월 수익':income}

In [265]:
dict4

{'이름': ['인기모', '나천재'], '소속': ['빅데이터그룹'], '월 수익': [2000]}

In [267]:
num_dic={'one':"일", 'two':"이",'three':"삼", 'four':"4",
        'five':"오", 'six':"육", 'seven':"칠", 'eight':"팔", 'nine':"구", 'ten':"십"}

A = input("값을 입력하세요")

print("입력한 숫자는", num_dic[A])

값을 입력하세요one
입력한 숫자는 일

### operator & operands

In [270]:
5 + 10

15

In [271]:
# 연산자의 우선 순위 : precedence

# **, *, /, //, %, +, -

In [272]:
1 > 10

False

In [273]:
1 <= 10

True

In [274]:
1 == 1

True

In [275]:
1 != 2

True

In [276]:
'A' < 'a'

True

In [277]:
"나라" > "나는"

True

In [278]:
2**3

8

In [279]:
3**2

9

In [280]:
import math

In [281]:
math.pow(2,3)

8.0

In [282]:
math.pi

3.141592653589793

In [283]:
a = 10
b = 3

a / b

3.3333333333333335

In [284]:
a // b

3

In [285]:
a % b

1

In [286]:
for i in range(1,10):
    if i % 2 == 1:
        print(i)

1
3
5
7
9

In [287]:
a = 50
b = 57

a+b

107

In [288]:
a- b

-7

In [289]:
a > b

False

In [290]:
a <= b

True

In [291]:
a == b, a != b

(False, True)

In [292]:
# 1- 7
import math

r = int(input("값을 하나 입력하세요"))

y = math.pi*r**2

print(y)

값을 하나 입력하세요2
12.566370614359172

In [293]:
x = float(input("수를 하나 입력하세요. "))

y = (x**2 + x + 1)/ x

print(y)

수를 하나 입력하세요. 10
11.1