In [5]:
pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /Users/kangjiwon/anaconda3/lib/python3.11/site-packages (from ucimlrepo) (1.5.3)
Requirement already satisfied: certifi>=2020.12.5 in /Users/kangjiwon/anaconda3/lib/python3.11/site-packages (from ucimlrepo) (2024.2.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/kangjiwon/anaconda3/lib/python3.11/site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/kangjiwon/anaconda3/lib/python3.11/site-packages (from pandas>=1.0.0->ucimlrepo) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in /Users/kangjiwon/anaconda3/lib/python3.11/site-packages (from pandas>=1.0.0->ucimlrepo) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/kangjiwon/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.1->pandas>=1.0.0->ucimlrepo) (1.16.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

[notice] A new release of pip is available: 24.1 -> 24.1.2
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
adult = fetch_ucirepo(id=2)

In [17]:
adult.data.features.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [20]:
adult.data.targets.value_counts()

income
<=50K     24720
<=50K.    12435
>50K       7841
>50K.      3846
dtype: int64

In [29]:
y =adult.data.targets['income'].map(lambda x: 1 if (x ==">50K" or x ==">50K.") else 0)

In [30]:
y.value_counts()

0    37155
1    11687
Name: income, dtype: int64

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 카테고리 변수를 제외한 수치형 변수만으로 X를 구성해 보자
X = adult.data.features[['age', 'fnlwgt','education-num', 'capital-gain', 'capital-loss']]

X_train, X_test, y_train, y_test = train_test_split(X,y, stratify = y,
                                                    test_size = 0.3, random_state=0)

# 표준 정규화를 해 준다
ss = StandardScaler()
ss.fit(X_train)
X_train_after = ss.transform(X_train)
X_test_after = ss.transform(X_test)

In [35]:
model = LogisticRegression()
model.fit(X_train_after, y_train)

print(f" 학습 Accuracy : {model.score(X_train_after, y_train):.3f}\n")
print(f" 테스트 Accuracy : {model.score(X_test_after, y_test):.3f}")

 학습 Accuracy : 0.810

 테스트 Accuracy : 0.812